
nav{
display: flex;
align-items: center;
justify-content: space-between;
padding-top: 0%;
padding-left: 0%;
padding-right: 0%;
font-weight: bold;
}
h1{
    color: rgba(240, 7, 7, 0.836);
    font-size: 30px;
}

ul li{
display: inline-block;
padding: 1% 50px;
font-size: 25px;

}

a{
    color: rgba(226, 19, 47, 0.836);
    
    text-decoration: none;
}
a:hover{
 color: rgb(250, 6, 6);
}
p{
font-size: 25px;
color: rgba(143, 2, 32, 0.938);
}
body{
    background :#000
    
}


.brand img{
width: 80px;
height: 80px;
padding-top: 0%;


}
h3{ 
    font-size: 30px;
    color: brown;

}

header.abajo{
background: #5a0202;
padding: 1px 1px;

}
header.abajo.logo,
header.abajo ul li a h1{
    color: #000000;
}
header .logo{
position: relative;
color: #f3e7e7;
    transition: 1.5s;
font-size: 2em;
letter-spacing: 2px;
font-weight: bold;

}
header{
position: fixed;
top: 0;
left: 0;
width: 100%;
display: flex;
justify-content: space-around;
transition: 0.7s;
padding: 10px 5px;



}

